//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 18 20:52:21 2020
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "RST" LOCATE = SITE "P134" LEVEL 1;
COMP "RXD_A_NRZ" LOCATE = SITE "P92" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P116" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P117" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P119" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P120" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P62" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P59" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P57" LEVEL 1;
COMP "TXD_A_NRZ" LOCATE = SITE "P98" LEVEL 1;
COMP "RXD_A" LOCATE = SITE "P87" LEVEL 1;
COMP "RXD_B" LOCATE = SITE "P58" LEVEL 1;
COMP "TXD_A" LOCATE = SITE "P95" LEVEL 1;
COMP "TXD_B" LOCATE = SITE "P66" LEVEL 1;
COMP "XMT_A" LOCATE = SITE "P131" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P55" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P50" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P121" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P123" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P127" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

